@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Roboto, sans-serif;
}

header {
  order: 0;
  position: absolute;
  width: 375px;
  height: 46px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

.bar2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.bar2 .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 101px;
  height: 44px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.bar2 .normalb {
  flex-direction: row;
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #3c3a39;
  border: none;
  align-items: flex-start;
  padding-right: 13px;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(40% - 24px / 2);
  border-radius: 8px;
  position: absolute;
}

.bar2 .burger {
  display: none;
}

#menumail {
  width: 22px;
  height: 18px;
}

.bar2 .normalb .union {
  position: absolute;
  width: 18px;
  height: 12px;
  left: 3px;
  top: 6px;
}

#name {
  width: 200px;
  height: 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* main section */

.continer {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  padding-top: 120px;
  padding-left: 24px;
  padding-bottom: 120px;
  gap: 12px;
  width: 375px;
  height: 590px;
  left: 0;
  background: #1c1a19;
  background-image: url("./Images/Illustration.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 120%;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 327px;
  height: 590px;
  left: 0;
  top: 92px;
  order: 0;
}

.title {
  width: 327px;
  height: 124px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  flex-grow: 0;
}

.subtitle {
  height: 27px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  flex-grow: 0;
}

.paragraph {
  width: 327px;
  height: 123px;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  flex: none;
  flex-grow: 0;
}

.continer .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.social .socialimg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

/* Section works header */

.works {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 34px;
  width: 375px;
  left: 0;
}

#wheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#wtitle {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#line {
  width: 327px;
  height: 0;
  border: 1px solid #212121;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.workintroduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#wintro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  gap: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#wimage {
  width: 327px;
  height: 237px;
}

#image {
  width: 327px;
  height: 237px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#wpost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#wh2 {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#wpar {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#wlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.wiconlist {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background: #ffff;
  border: 1px solid #8993a4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* deck section */
.deck {
  order: 2;
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
}

.card {
  width: 327px;
  height: 386px;
  background-image: url("./Images/Mask.png");
}

.ctext {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 90px 16px;
  gap: 12px;
  width: 327px;
  height: 248px;
  left: calc(50% - 327px / 2);
  bottom: 62px;
}

.ctext h2 {
  width: 295px;
  height: 81px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ctext .cp {
  width: 295px;
  height: 87px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.clist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.ciconlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  height: 40px;
  background: rgb(255 255 255 / 24%);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.ciconlist p {
  height: 20px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #ffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bcnbutton {
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.cbutton {
  text-decoration: none;
  padding: 12px;
  gap: 10px;
  width: 100%;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  border: none;
  color: #ffff;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

/* about */

.about {
  order: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0;
  gap: 34px;
  width: 375px;
  left: 0;
  background-color: #1c1a19;
  background-image: url("./Images/Group.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 20%;
}

.acontainertext {
  order: 0;
}

.atext {
  width: 327px;
  height: 90px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.aptext {
  width: 327px;
  height: 160px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.aline {
  order: 1;
  width: 327px;
  height: 0;
  border: 1px solid #ffff;
  flex: none;
  flex-grow: 0;
  margin-top: 200px;
}

.acontiner {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  width: 329px;
  left: calc(50% - 329px / 2);
  top: 4797px;
}

.askill {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 225px;
  height: 350px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.arectangle {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.arectangle1 {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.arectangle2 {
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.askilltext {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 12px;
  height: 41px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.askilltitle {
  height: 24px;
  font-family: InaiMathi, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #ffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.askillist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 12px;
  gap: 8px;
  width: 186px;
  height: 216px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.askillitem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.askillitemtext {
  height: 24px;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* contact */

.contact {
  order: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 23px;
  gap: 34px;
  width: 375px;
  left: 0;
}

.contactdesktop {
  display: flex;
  flex-direction: column;
  order: 0;
}

.ctitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  gap: 58px;
  width: 375px;
  height: 380px;
  left: 0;
}

.ctitletext {
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contactform {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 24px;
  margin-bottom: 70px;
}

.cdata {
  width: 327px;
  height: 48px;
  flex: none;
  flex-grow: 0;
  border-top: #dbd8d7;
  border-left: none;
  border-right: none;
}

.cmessage {
  width: 327px;
  height: 114px;
  flex: none;
  flex-grow: 0;
  border: none;
  background-color: #fbf8f7;
  padding: 15px;
}

.csubmit {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  border: none;
  flex: none;
  flex-grow: 0;
  font-family: Inter, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffff;
}

.csubmit:enabled {
  background: #ff6b00;
  color: #ffff;
}

.csubmit:hover {
  background-color: #fff5e1;
  color: #f55800;
  border-color: #f55800;
  border: 1px solid;
}

.csubmit:active {
  background: #e05304;
}

.csubmit:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

.linebutton {
  width: 327px;
  height: 0;
  border: 1px solid #dfe1e6;
  flex: none;
  order: 1;
  flex-grow: 0;
  left: 24px;
}

.csocial {
  order: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  flex-grow: 0;
}

.csocial .csocialimg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.fmargin {
  order: 5;
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  border-radius: 10px;
  background-image: url("./Images/Shape.png");
}

/* media query section */

@media (min-width: 768px) {
  header {
    width: 100%;
    height: 72px;
  }

  .bar2 {
    display: flex;
    justify-content: flex-end;
  }

  .bar2 .logo {
    width: 116px;
    height: 44px;
    left: 142px;
    top: 16px;
    gap: 10px;
  }

  .bar2 .normalb {
    display: none;
  }

  .bar2 .burger {
    margin-right: 6rem;
    display: flex;
    flex: none;
    order: 0;
    flex-grow: 0;
    background-color: #3c3a39;
    border: none;
    align-items: center;
    top: 16px;
    justify-content: space-around;
    align-items: center;
  }

  .bar2 .burger a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 10px;
    width: 15%;
    height: 40px;
    flex: none;
    flex-grow: 0;
  }

  .bar2 .burger a p {
    text-decoration: none;
    color: #fff;
    width: 63px;
    height: 20px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  #name {
    font-size: 20px;
  }

  /* main section */
  .continer {
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 870px;
    background-image: url("./Images/Illustration-header.png");
    background-position: top;
    background-position-x: right;
    background-size: 45% 90%;
    padding-left: 0;
  }

  .textcontainer {
    order: 1;
    width: 40%;
    height: unset;
  }

  .title {
    width: 100%;
  }

  .paragraph {
    width: 100%;
  }

  .continer .social {
    flex-direction: column;
    height: 12rem;
    order: 0;
  }

  /* Section works header */
  .works {
    align-items: center;
    padding: 120px 24px;
    gap: 114px;
    width: 100%;
  }

  #wheader {
    flex-direction: row;
    margin-top: 135px;
    width: 80%;
    height: 52px;
  }

  #line {
    width: 70%;
    order: 1;
  }

  #wintro {
    flex-direction: row;
    padding: 0;
    gap: 24px;
  }

  #wimage {
    width: 50%;
    height: 45%;
  }

  .wpost {
    width: 100%;
    height: 361px;
  }

  #wpar {
    width: 45%;
  }

  /* deck section */
  .deck {
    width: 80%;
    gap: 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* about */

  .about {
    align-items: flex-start;
    padding: 130px 0;
    gap: 24px;
    width: 100%;
    background-image: url("./Images/illustration3.png");
    background-position: top right;
    background-size: 45%;
    background-position-y: 100px;
  }

  .acontainertext {
    margin-left: 142px;
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 24px;
  }

  .atext {
    height: 79px;
  }

  .aptext {
    height: 148px;
    width: 80%;
  }

  .aline {
    margin-left: 142px;
    width: 80%;
  }

  .acontiner {
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    gap: 50px;
    width: 80%;
  }

  .askill {
    align-items: flex-start;
  }

  .askillist {
    align-items: start;
  }

  /* contact */
  .contact {
    width: 100%;
    align-items: flex-start;
  }

  .contactdesktop {
    flex-direction: row;
    width: 80%;
    margin-left: 135px;
    gap: 24px;
  }

  .ctitle {
    padding: 0;
  }

  .ctitletext {
    text-align: start;
  }

  .contactform {
    width: 70%;
    align-items: stretch;
  }

  .cdata {
    width: 100%;
  }

  .cmessage {
    width: 100%;
  }

  .csubmit {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: 131px;
    height: 48px;
    background: #ff6b00;
    border: none;
    flex: none;
    flex-grow: 0;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffff;
  }

  .csubmit:enabled {
    background: #ff6b00;
    color: #ffff;
  }

  .csubmit:hover {
    background-color: #fff5e1;
    color: #f55800;
    border-color: #f55800;
    border: 1px solid;
  }

  .csubmit:active {
    background: #e05304;
  }

  .csubmit:disabled {
    background: #f4f1f0;
    color: #5b5957;
  }

  .linebutton {
    width: 100%;
  }

  .csocial {
    align-self: center;
  }

  .csocial .csocialimg {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    flex: none;
    order: 3;
    flex-grow: 0;
  }

  .fmargin {
    order: 3;
    align-self: center;
    width: 134px;
    height: 5px;
    left: calc(50% - 134px / 2 - 0.5px);
    bottom: 8px;
    border-radius: 10px;
    background-image: url("./Images/Shape.png");
  }
}
